*~
src/build
src/bin
src/objs
.sconsign.dblite
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.vcxproj
*.filters
*.user
*.cmake
*.rule
*.bin
*.exe
*.obj
*.tlog
*.check_cache
*.log
*.stamp
*.depend
*.sln
*.pdb
CMakeFiles/feature_tests.cxx
CMakeFiles/feature_tests.c
.vs/PBRT-V3/v15/.suo
CMakeFiles/3.13.0-rc1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.13.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/CheckIncludeFiles/HAVE_ALLOCA_H.c
CMakeFiles/CheckIncludeFiles/HAVE_MEMORY_H.c
CMakeFiles/CheckTypeSize/HAVE___UINT16.c
CMakeFiles/CheckTypeSize/HAVE_U_INT16_T.c
CMakeFiles/CheckTypeSize/HAVE_UINT16_T.c
CMakeFiles/CheckTypeSize/OFF64_T.c
CMakeFiles/generate.stamp.list
Debug/libpbrt.lib
Debug/pbrt_test.ilk
CMakeFiles/3.13.0-rc1/VCTargetsPath.txt
CMakeFiles/TargetDirectories.txt
CMakeCache.txt
*.ilk
